img{
    width: 50px;
    border-radius: 10px;
}

p{
    font-size: 10px;
    align-self: center;
}

ion-avatar{
    text-align: center; 
    float: left;
    width: 50px;
    margin-left: 10px;
    
}